/* BASE RESET CSS*/
html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
/* PARALLAX CONTAINER */
#parallax-container {
  display: block;
  height: 1038px;
}
#parallax-container div {
  position: fixed;
  top: 0;
  background-position: center !important;
  width: 100%;
  height: 1038px;
  transform: translateY(0);
}
.layer-0 {
  background-image: url(../img/layer0.png);
  background-color: #ffaf1b;
}
.layer-1 {
  background-image: url(../img/layer1.png);
}
.layer-2 {
  background-image: url(../img/layer2.png);
}
.layer-3 {
  background-image: url(../img/layer3.png);
}
.layer-4 {
  background-image: url(../img/layer4.png);
}
.layer-5 {
  background-image: url(../img/layer5.png);
}
.layer-6 {
  background-image: url(../img/layer6.png);
}
.layer-7 {
  background-image: url(../img/layer7.png);
}
.layer-8 {
  background-image: url(../img/layer8.png);
}

/* CONTENT */
#content {
  background-color: #210002;
  position: relative;
  z-index: 1;
}
#content p {
  margin-bottom: 0;
}
#content ul {
  list-style-type: none;
  padding: 0;
  margin: 0 25px;
  width: 325px;
  display: inline-block;
}
#content li {
  margin-bottom: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#content h4 {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FFAF00;
  color: #210002;
}
#content li :hover {
  background-color: #FFFFFF;
}
#content h4 img {
  height: 17px;
  width: auto;
}
#content .wrap {
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  background-color: #210002;
  color: #FFAF00;
  text-align: center;
}
#content h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
#content article p {
  margin-bottom: 24px;
  width: 325px;
  display: inline-block;
  text-align: left;
  line-height: 40px;
}
#content article p.left {
  margin-right: 50px;
}
